 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }

 body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080808;
 }

 .box{
    background-color: #a09cd4;
    padding: 30px;
    width: 400px;
    border-radius: 7px;
 }

 .qr-header h1{
    font-size: 26px;
    text-align:center;
    color:black ;
    margin-bottom: 24px;
    text-transform: uppercase;
 }

 .qr-header input{
    width: 100%;
    margin-block: 12px;
 }

 .qr-header input, select{
    padding: 8px;
    border-radius: 7px;
    font-size: 18px;
    outline:none;
    border: 2px solid black;
 }

 .qr-header label{
    color: #0e0d0d;
    font-size: 20px;
 }

 .qr-header div{
    display: flex;
    justify-content: space-between;
 }

 .qr-footer{
   
    display: flex;
    justify-content: center;
 }

 .qr-footer a{
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 36px;
    margin-inline: 2px;
    color:green;
    font-weight: 600;
    border-radius: 7px;

 }
 .qr-body{
   display: grid;
   place-items: center;
   padding: 20px;
 }

 .qr-body img{
   max-height: 100%;
   max-width: 100%;
   margin-block: 10px;
   padding: 20px;
   border: 0.5px solid #f35454;
   border-radius: 7px;
 }

 @media screen and (max-width:520px){
   .box{
      width: 80%;
   }
   .qr-footer a{
      padding: 12px;
      font-size: 16px;
   }
   
 }
